body {
  margin: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
} 
::-webkit-scrollbar {
  display: none;
}

#page1 {
  height: 100vh;
  position: relative;
  width: 100vw;
  background:radial-gradient(#A2A2F2,#2c2c48) ;

}
#page3{
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
  align-items: start;
  justify-content: center;
  color: #fff;
  /* background-color: #fff; */
  background:radial-gradient(#3e3165,#0D091E) ;
}
#page3 h1{
  font-size: 4vw;
  top: -10vh;
  text-align: center;
}
#page3butto{
  position: absolute;
  top: 90vh;
  gap: 30vw;
  display: flex;
  
}
#page3butto button{
  padding: 1.2vw 3vw;
  background-color: transparent;
  border: none;
  font-size: 1vw;
  border: 1px solid #9F9696;
  border-radius: 50px;
  color: #9F9696;
}
#canvas4d{
  height: 100%;
  width: 100%;
}
#canvas5d{
  height: 100%;
  width: 100%;
}
#page2 {
  min-height: 120vh;
  width: 100vw;
  background:radial-gradient(#6a6aa1,#2c2c48) ;
  
}

#canvas3d {
  scale: 1.1;
}
#canvas {
  scale: 1;
}
.el{
  background-image: url(https://images.unsplash.com/photo-1618303085702-e2f951c2ee55?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fDNkJTIwYW5pbWF0aW9ufGVufDB8fDB8fHww);
}
#div{
  position:  absolute;
  right: 30vh;
  /* border: 1px solid red; */
 
  /* background: #000; */
  width: 38vw;
  object-fit: cover;
  /* overflow: hidden; */
}
 

#nav {
  height: 20vh;
  width: 100vw;
  position: absolute;
  display: flex;
  /* background-color: #3d3c3c; */
  z-index: 99;
}

#left {
  height: 100%;
  width: 50%;
  padding: 0vw 2vw;
  display: flex;
  align-items: center;
  /* background-color: #f09494; */
}

#right {
  height: 100%;
  width: 50%;
  display: flex;
  gap: 2vw;
  padding: 0vw 5vw;
  font-size: 1.3vw;
  align-items: center;
  justify-content: end;
  /* background-color: #f09494; */
}

#right a {
  border: 1px solid #9F9696;
  padding: 10px 20px;
  color: #9f9696;
  font-family: sans-serif;
  text-decoration: none;
  border-radius: 30px;
}

#right i {
  border: 1px solid #9F9696;
  padding: 10px 15px;
  font-size: 1.5vw;
  color: #9f9696;
  border-radius: 50px;
}

h2{
  font-size: 2vw;
  position: absolute;
  top: 0.1vw;
  left: 5vw;
  color: #9F9696;
  font-family: sans-serif;
}
h1 span{
  color: #3f0fffe3;
}
h1 {
  position: absolute;
  padding: 2.9vw;
  text-transform: uppercase;
  font-family: sans-serif;
  z-index: 99;
  color: #9f9696;
  font-size: 1.8vw;
}


.elemeven,
.elemodd {
  height: 35vh;
  width: 100vw;
  display: flex;
  position: relative;
  gap: 10vw;
  padding: 5vw 0 3vw 5vw;
  align-items: center;
  /* background-color: #eeadad; */
}

#elem3{
  background-image: url(https://images.unsplash.com/photo-1637819203905-2294a31391d3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTF8fDNkJTIwYW5pbWF0aW9ufGVufDB8fDB8fHww);
  height: 70vh;
  background-position: center;
  background-size: cover;
  width: 40vh;
  border-radius: 20px;
  /* background-color: #fff; */
}

.elemeven {
   
  justify-content: flex-start;
}

.elemodd {

  justify-content: center
  ;
}

.elem {
  height: 40vh;
  width: 40vw;
  /* object-fit: cover; */
  /* padding-top:  5vh; */
  overflow: hidden;
  border-radius: 2vh;
  background-position: bottom;
}

.elem>video {
  transform: translate(0, -8%);
  height: auto;
  width: 100%;
}

p {
  width: 25vw;
  font-size: 1.2vw;
  font-family: sans-serif;
  color: #9f9696;
  font-weight: 100;
  line-height: 1.5vw;
}

@media (max-width:600px) {
   h2{
    font-size: 4vw;
    position: absolute;
    top: 4vh;
   }
  #page1{
    height: 58vh;
    width: 100vw;
   }
  #canvas3d{
    position: absolute;
    height: 20vh;
   }
  #left h1{
    font-size: 4vw;
   }
  a{
    font-size: 2.3vw;
  }
  i{
    font-size: 2.2vw;
  }
  .elem{
    height: 35vh;
    display: flex;
    background-color: #fff;
    width: 50vw;
  }
  p{
    font-size: 2.4vw;
    line-height: 10px;
  }
  #canvas{
    z-index: -99;
  }
  #elem3{
    height: 35vh;
    width: 50vw;
  }
  #page3 h1{
    top: 5%;
    font-size: 5vw;
    position: absolute;
  }
  #page3butto button{
    font-size: 2.5vw;
  }
}